@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

input:focus {
  outline: none;
  border-color: #44444445;
}

.content-light::part(background) {
  background: #444444;
}

.content-dark::part(background) {
  background: #dadada;
}

.toolbar-light {
  --background: #444444 !important;
  --color: white;

  --border-color: #444444;
  --border-width: 4px 0;
  --border-style: double;

  /* --min-height: 80px; */
  /* --padding-top: 20px; */
  /* --padding-bottom: 20px; */
}

.toolbar-dark {
  --background: #dadada !important;
  --color: #444444;

  --border-color: #444444;
  --border-width: 4px 0;
  --border-style: double;
}

.input-light{
    background: #222222;
    color: #dadada
}

.input-light:focus{
}

.input-dark{
    color: #222222;
    background: #ebebeb
}
.more-button-visible{
    display: block;
}

.more-button-hidden{
    display: none
}

.no-more-label{
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    /* width: 100%; */
    /* margin-left: 50px */
}
