.navbar{
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 99;
  font-size: 30px;
  background: #333333;
  padding-bottom: 24px;
  line-height: 60px
}

.navbar-closed{
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 99;
  font-size: 30px;
  background: transparent;
  /* padding-bottom: 24px; */
  line-height: 60px
}

a{
  text-decoration: none;
  color: #fff
}

.new-search-form{
   display: flex;
  flex-direction: column;
  width: 80%;
  margin: 100px auto;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: 100vw

}

.input-flex{
  display: flex;
  flex-direction: row;
  align-items: center
}

.username-input{
  min-width: 300px;
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 25px;
  border: 2px solid #fff
  
}

li{
  list-style-type: none;
  margin-left: 20px
}

.card {
  padding: 2em;
}

.resizable-media-container{
  height: 56.25vw;
  min-height: 500px;
  max-height: 550px;
  /* max-height: 90vh; */
  
  width: 100%;
  background-color: #000;
}

.player-container-box video,
.player-container-box iframe {
  width: 100% !important;
  height: 100% !important;
}

.react-player {
  /* min-width: 100% !important; */
  /* min-height: 250px; */
  /* max-height: 550px !important; */
  object-fit: cover;
 width: 100%;
 height: 100%
}

.react-player > video,
.react-player > iframe {
  object-fit: cover;
}

.player-wrapper {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.css-1lt5qva-MuiCardContent-root {
  padding: 0px !important;
}

.react-player__preview{
  /* min-height: 400px !important */
}

.username {
  font-weight: 900;
  color: #f7f7f7;
  margin-bottom: 16px;
  padding: 8px;
  margin-top: 8px !important;
}

.timestamp {
  font-weight: 800;
  text-align: right !important;
  float: right;
  padding: 8px;
  color: #f7f7f7;
}

.card {
  margin: 30px 0px;
  background: #222 !important;
  width: 100vw !important;
  padding: 0px !important;
}

.action-container{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.playback-slider {
  flex-grow: 1;
  width: 100%;
}

.image{
    min-width: 100% !important;
  /* min-width: 100%; */
  min-height: 550px;
  max-height: 90vh;
  object-fit: contain;
  /* position: absolute; */
  /* z-index: -1 */
}

.save-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

a{
  padding: 5px 20px
}

.media-control-button{
  width: 20px !important;
  padding: 2px;
  border-radius: 0px !important;
  background: #00000098;
  color: #ffffff;
  font-size: 20px
}

.media-control-button:focus{
  outline: none !important;
  border: none
}

.saved-user-handle{
  text-align: center;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 1.25px
}

.name-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.playback-rate-button{
  margin-bottom: 20px
}

.tweet-text{
  color: #ffffff;
  /* padding: 6px; */
  width: 95%;
  margin: 16px
}

.auto-play-button-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
}

.auto-play-button{
  width: 50%;
  margin-top: 16px
}
